fastapi
uvicorn[standard]
python-dotenv
openai
pandas
openai-whisper
soundfile
sounddevice
webrtcvad
matplotlib
plotly
edge-tts
python-multipart
kaleido
SQLAlchemy>=2.0
asyncmy>=0.2
passlib[bcrypt]>=1.7.4
bcrypt>=4.0.1
python-dotenv>=1.0
pydantic[email]>=2.0
PyMySQL==1.1.1